<article class="standard-container">
  <div class="grid-row">
    <div class="course-info">
      <div class="course-detail">
        <div class="image">
          {{#ifeq course.image '{}'}}
          <img src="/images/cmd_beeldbank.jpg" alt="CMD Sfeerbeeld" class="course-image">
          {{else if embeddedVideo}}
          {{embeddedVideo}}
          {{else}}
          <img src="{{cloudinaryUrl course.image}}" alt="{{title}}" class="course-image">
          {{/ifeq}}
        </div>
        <div class="course-description">
          <h2>{{course.title}}</h2>
          <p class="columns">{{course.description}}</p>
          <div class="capitalize meta"><p>{{course.year}} | {{course.blok}} </p> <div class="course-tags">{{#each course.courseType}} <div class="coursetype-tag">{{title}} </div>{{/each}}</div></div>
        </div>
      </div>
    </div>

    <div class="suggestions">
      <h3>Vergelijkbare vakken:</h3>
      {{#each data.courseType}}
      <div class="course course-suggestion {{slug}}" style="background-image: url({{#ifeq image '{}'}}'/images/cmd_beeldbank.jpg'{{else}}{{cloudinaryUrl image}}{{/ifeq}})">

        <a href="{{slug}}"><h3>{{title}}</h3></a>
      </div>
      {{/each}}
    </div>
  </div>
</article>

<div class="toggle hide" id="menu-toggle">
</div>
<nav id="nav" class="mobile-hide">
  <div class="years">
    {{#each allYears}}
    <div class="nav-item">
      <p><a href="/curriculum/{{slug}}"><img src="{{cloudinaryUrl image}}" alt="CMD icon">{{title}}</a>
      </p>
    </div>
    {{/each}}
  </div>
</nav>
