<article class="standard-container">
  <div class="flex-row">
    <div class="course-detail">
      <div class="image">
        <img src="{{cloudinaryUrl course.image}}" alt="{{title}}" class="course-image">
      </div>
      <div class="course-description">
        <h2>{{course.title}}</h2>
        {{course.description}}
        <p class="capitalize">{{course.year}} | {{course.blok}} | {{course.category}}</p>
      </div>
    </div>

    <div class="suggestions">
      <h3>Vergelijkbare vakken:</h3>
      {{# each data.courseType}}
      <div class="course course-suggestion {{slug}}" style="background-image: url({{cloudinaryUrl image}})">
        <a href="{{slug}}"><h3>{{title}}</h3></a>
      </div>
      {{/each}}
    </div>
  </div>
</article>
