<div class="sidebar-layout">
  <section class="filter hide" id="filter-container">
    <div class="filter-items">
      <h3>Laat vakken zien die te maken hebben met:</h3>
      <p class="filter-title" id="filter">Filter vakken</p>
      <div class="main-coursetypes">
      {{#each courseType}}
        {{#ifCond slug '!==' 'stage'}}
          {{#ifCond slug '!==' 'keuzevak'}}
            <p class="filter-item" id="{{slug}}"><img src="{{cloudinaryUrl image}}" alt="CMD icon">{{title}}</p>
          {{/ifCond}}
        {{/ifCond}}
      {{/each}}
    </div>
    <hr>
    <div class="special-coursetypes">
      {{#each courseType}}
        {{#ifCond slug '==' 'stage'}}
        <p class="filter-item" id="{{slug}}"><img src="{{cloudinaryUrl image}}" alt="CMD icon">{{title}}</p>
        {{/ifCond}}
        {{#ifCond slug '==' 'keuzevak'}}
        <p class="filter-item" id="{{slug}}"><img src="{{cloudinaryUrl image}}" alt="CMD icon">{{title}}</p>
        {{/ifCond}}
      {{/each}}
    </div>
    </div>
  </section>

  <main class="content">
    <section class="standard-container filter-margin" id="closeFilters">
      <section class="legenda-container">
        <h4 class="legenda-title">Legenda:</h4>
        <div class="legenda">
          <div class="projecten project-legenda course">
          </div>
          <p>Projecten</p>
          <div class="kernvakken course">
          </div>
          <p>Kernvakken</p>
          <div class="profilering keuzevak-legenda course">
          </div>
          <p>Profileringsvakken</p>
          <div class="course stages stage-legenda">
          </div>
          <p>Stage</p>
        </div>
      </section>
      <h2 class='year-title' id="nav-identifier">{{year.title}}</h2>
      <div class="column-grid">
        {{#ifCond year.slug '==' 'propedeuse'}}
          <section class="blok1 blokken">
            <header class="header-blok1 blok-title">
                <h2>Blok 1</h2>
                <p>September - november</p>
            </header>
            {{#each course}}
            {{#ifeq blok 'blok-1'}}
              {{#ifeq type 'project'}}
              <section class="vakken">
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{#each connectedCourses}}
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{/each}}
              </section>
              {{/ifeq}}
            {{/ifeq}}
            {{/each}}
          </section>
          <section class="blok2 blokken">
            <header class="header-blok2 blok-title">
                <h2>Blok 2</h2>
                <p>November - januari</p>
            </header>
            {{#each course}}
              {{#ifeq blok 'blok-2'}}
                {{#ifeq type 'project'}}
                <section class="vakken">
                  <div class="course {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                  {{#each connectedCourses}}
                  <div class="course {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                  {{/each}}
                </section>
                {{/ifeq}}
              {{/ifeq}}
            {{/each}}
          </section>
          <section class="blok3 blokken">
            <header class="header-blok3 blok-title">
                <h2>Blok 3</h2>
                <p>Januari - april</p>
            </header>
            {{#each course}}
              {{#ifeq blok 'blok-3'}}
                {{#ifeq type 'project'}}
                <section class="vakken">
                  <div class="course {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                  {{#each connectedCourses}}
                  <div class="course {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                  {{/each}}
                </section>
                {{/ifeq}}
              {{/ifeq}}
            {{/each}}
          </section>
          <section class="blok4 blokken">
            <header class="header-blok4 blok-title">
                <h2>Blok 4</h2>
                <p>April - juni</p>
            </header>
            {{#each course}}
            {{#ifeq blok 'blok-4'}}
              {{#ifeq type 'project'}}
                <section class="vakken">
                  <div class="course {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                  {{#each connectedCourses}}
                  <div class="course {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                  {{/each}}
                </section>
              {{/ifeq}}
              {{!--Check for internships--}}
              {{#ifeq type 'stage'}}
              <section class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </section>
              {{/ifeq}}

              {{!--Check if there are profileringsvakken--}}
              {{#ifeq type 'profilering'}}
              <section class="vakken">
                <p>* Profileringsvakken:</p>
                {{#each connectedCourses}}
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{/each}}
              </section>
              {{/ifeq}}
            {{/ifeq}}
            {{/each}}
          </section>
        {{/ifCond}}
        {{#ifCond year.slug '==' 'jaar-2'}}
          <section class="blok1 blokken">
            <header class="header-blok1 blok-title">
                <h2>Blok 1</h2>
                <p>September - november</p>
            </header>
            {{#each course}}
            {{#ifeq blok 'blok-1'}}
              {{#ifeq type 'project'}}
              <section class="vakken">
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{#each connectedCourses}}
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{/each}}
              </section>
              {{/ifeq}}
            {{/ifeq}}
            {{/each}}
          </section>
          <section class="blok2 blokken">
            <header class="header-blok2 blok-title">
                <h2>Blok 2</h2>
                <p>November - januari</p>
            </header>
            {{#each course}}
            {{#ifeq blok 'blok-2'}}
              {{#ifeq type 'project'}}
              <section class="vakken">
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{#each connectedCourses}}
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{/each}}
              </section>
              {{/ifeq}}
            {{/ifeq}}
            {{/each}}
          </section>
          <section class="blok3 blokken">
            <header class="header-blok3 blok-title">
                <h2>Blok 3</h2>
                <p>Januari - april</p>
            </header>
            {{#each course}}
            {{#ifeq blok 'blok-3'}}
              {{#ifeq type 'project'}}
              <section class="vakken">
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{#each connectedCourses}}
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{/each}}
              </section>
              {{/ifeq}}
            {{/ifeq}}
            {{/each}}
          </section>
          <section class="blok4 blokken">
            <header class="header-blok4 blok-title">
                <h2>Blok 4</h2>
                <p>April - juni</p>
            </header>
            {{#each course}}
            {{#ifeq blok 'blok-4'}}
              {{#ifeq type 'project'}}
                <section class="vakken">
                  <div class="course {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                  {{#each connectedCourses}}
                  <div class="course {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                  {{/each}}
                </section>
              {{/ifeq}}
              {{!--Check for internships--}}
              {{#ifeq type 'stage'}}
              <section class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </section>
              {{/ifeq}}
            {{/ifeq}}
            {{/each}}
          </section>
        {{/ifCond}}
        {{#ifCond year.slug '==' 'jaar-3'}}
          <section class="semester-1 blokken">
            <header class="header-semester-1 blok-title">
                <h2>Semester 1</h2>
                <p>September - januari</p>
            </header>
            <div class="column-2">
              {{#each course}}
                {{#ifeq blok 'semester-1'}}
                  {{#ifeq type 'project'}}
                  <section class="vakken">
                    <div class="course {{#each courseType}} {{slug}}{{/each}}">
                      <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                    </div>
                    {{#each connectedCourses}}
                    <div class="course {{#each courseType}} {{slug}}{{/each}}">
                      <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                    </div>
                    {{/each}}
                  </section>
                  {{/ifeq}}
                {{/ifeq}}
              {{/each}}
            </div>
          </section>

          <section class="semester-2 blokken">
            <header class="header-semester-2 blok-title">
                <h2>Semester 2</h2>
                <p>Februari - juni</p>
            </header>
            {{#each course}}
              {{#ifeq blok 'semester-2'}}
                <section class="vakken">
                  <div class="course {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                </section>
              {{/ifeq}}
            {{/each}}
          </section>
        {{/ifCond}}
        {{#ifCond year.slug '==' 'afstudeerjaar'}}
          <section class="semester-1 blokken">
            <header class="header-semester-1 blok-title">
                <h2>Semester 1</h2>
                <p>September - januari</p>
            </header>
            {{#each course}}
              {{#ifeq blok 'semester-1'}}
                <section class="vakken">
                  <div class="course higher {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                </section>
              {{/ifeq}}
            {{/each}}
          </section>
          <section class="semester-2 blokken">
            <header class="header-semester-2 blok-title">
                <h2>Semester 2</h2>
                <p>Februari - juni</p>
            </header>
            {{#each course}}
              {{#ifeq blok 'semester-2'}}
                <section class="vakken">
                  <div class="course higher {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                </section>
              {{/ifeq}}
            {{/each}}
          </section>
        {{/ifCond}}
      </div>

      <p class="year-description columns">{{year.description}}</p>
    </section>

    <nav class="toggle hide" id="menu-toggle">
    </nav>
  </main>
</div>

{{> nav}}
