<article class="standard-container">
  <p class="breadcrumb">
    <a class="breadcrumb-link" href="/curriculum">curriculum/</a>{{data.year.slug}}/{{filters.course}}
  </p>

  <h2>{{data.year.title}}</h2>
  <div class="year">
    <div class="courses">
      {{# each data.course}}
      <div class="course {{slug}}" style="background-image: url({{cloudinaryUrl image}})">
        <a href="{{category}}/{{slug}}"><h3>{{title}}</h3></a>
      </div>

      {{/each}}
    </div>

    <div class="course-types">
      <div class="course-type course-type-1">
        <a href="project"><p>Projecten</p></a>
      </div>
      <div class="course-type course-type-2">
        <a href="technisch"><p>Frontend Development</p></a>
        <p class="small-text">Technische vakken</p>
      </div>
      <div class="course-type course-type-3">
        <a href="design"><p>User Interface Design</p></a>
        <p class="small-text">Design vakken</p>
      </div>
      <div class="course-type course-type-4">
        <a href="onderzoek"><p>User Experience Design</p></a>
        <p class="small-text">Onderzoeks vakken</p>
      </div>
    </div>
  </div>
</article>
