<div class="sidebar-layout">
  <div class="filter">
    <div class="filter-items">
      {{#each courseType}}
      <p class="filter-item" id="{{slug}}"><img src="{{cloudinaryUrl image}}" alt="CMD icon">{{title}}</p>
      {{/each}}
    </div>
    <p class="filter-title" id="filter">Filter vakken</p>
  </div>
  <div class="content">
    <article class="standard-container filter-margin" id="closeFilters">
      <h2 class='year-title' id="nav-identifier">{{year.title}}</h2>
      <div class="column-grid">

        {{#ifCond year.slug '==' 'jaar-3'}}
        <section class="semester-1 blokken">
          <header class="header-semester-1">
            <div class="blok-title">
              <h2>Semester 1</h2>
              <p>September - januari</p>
            </div>
          </header>
          <div class="column-2">
            {{#each course}}
              {{#ifeq blok 'semester-1'}}
                {{#ifeq type 'project'}}
                <div class="vakken">
                  <div class="course {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                  {{#each connectedCourses}}
                  <div class="course {{#each courseType}} {{slug}}{{/each}}">
                    <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                  </div>
                  {{/each}}
                </div>
                {{/ifeq}}
              {{/ifeq}}
            {{/each}}
          </div>

        </section>
        <section class="semester-2 blokken">
          <header class="header-semester-2">
            <div class="blok-title">
              <h2>Semester 2</h2>
              <p>Februari - juni</p>
            </div>
          </header>
          {{#each course}}
          {{#ifeq blok 'semester-2'}}
            <div class="vakken">
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
            </div>
          {{/ifeq}}
          {{/each}}
        </section>
        {{/ifCond}}

        {{#ifCond year.slug '==' 'afstudeerjaar'}}
        <section class="semester-1 blokken">
          <header class="header-semester-1">
            <div class="blok-title">
              <h2>Semester 1</h2>
              <p>September - januari</p>
            </div>
          </header>
          {{#each course}}
            {{#ifeq blok 'semester-1'}}
              <div class="vakken">
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
              </div>
              {{/ifeq}}
          {{/each}}
        </section>
        <section class="semester-2 blokken">
          <header class="header-semester-2">
            <div class="blok-title">
              <h2>Semester 2</h2>
              <p>Februari - juni</p>
            </div>
          </header>
          {{#each course}}
          {{#ifeq blok 'semester-2'}}
            <div class="vakken">
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
            </div>
          {{/ifeq}}
          {{/each}}
        </section>
        {{/ifCond}}

        {{#ifCond year.slug '==' 'propedeuse'}}
        <section class="blok1 blokken">
          <header class="header-blok1">
            <div class="blok-title">
              <h2>Blok 1</h2>
              <p>September - november</p>
            </div>
          </header>
          {{#each course}}
          {{#ifeq blok 'blok-1'}}
            {{#ifeq type 'project'}}
            <div class="vakken">
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </section>
        <section class="blok2 blokken">
          <header class="header-blok2">
            <div class="blok-title">
              <h2>Blok 2</h2>
              <p>November - januari</p>
            </div>
          </header>
          {{#each course}}
          {{#ifeq blok 'blok-2'}}
            {{#ifeq type 'project'}}
            <div class="vakken">
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </section>
        <section class="blok3 blokken">
          <header class="header-blok3">
            <div class="blok-title">
              <h2>Blok 3</h2>
              <p>Januari - april</p>
            </div>
          </header>
          {{#each course}}
          {{#ifeq blok 'blok-3'}}
            {{#ifeq type 'project'}}
            <div class="vakken">
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </section>
        <section class="blok4 blokken">
          <header class="header-blok4">
            <div class="blok-title">
              <h2>Blok 4</h2>
              <p>April - juni</p>
            </div>
          </header>
          {{#each course}}
          {{#ifeq blok 'blok-4'}}
            {{#ifeq type 'project'}}
              <div class="vakken">
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{#each connectedCourses}}
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{/each}}
              </div>
            {{/ifeq}}
            {{!--Check for internships--}}
            {{#ifeq type 'stage'}}
            <div class="course {{#each courseType}} {{slug}}{{/each}}">
              <a href="{{year}}/vak/{{slug}}">{{title}}</a>
            </div>
            {{/ifeq}}

            {{!--Check if there are profileringsvakken--}}
            {{#ifeq type 'profilering'}}
            <div>
              <p>* Profileringsvakken:</p>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </section>
        {{/ifCond}}

        {{#ifCond year.slug '==' 'jaar-2'}}
        <section class="blok1 blokken">
          <header class="header-blok1">
            <div class="blok-title">
              <h2>Blok 1</h2>
              <p>September - november</p>
            </div>
          </header>
          {{#each course}}
          {{#ifeq blok 'blok-1'}}
            {{#ifeq type 'project'}}
            <div class="vakken">
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </section>
        <section class="blok2 blokken">
          <header class="header-blok2">
            <div class="blok-title">
              <h2>Blok 2</h2>
              <p>November - januari</p>
            </div>
          </header>
          {{#each course}}
          {{#ifeq blok 'blok-2'}}
            {{#ifeq type 'project'}}
            <div class="vakken">
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </section>
        <section class="blok3 blokken">
          <header class="header-blok3">
            <div class="blok-title">
              <h2>Blok 3</h2>
              <p>Januari - april</p>
            </div>
          </header>
          {{#each course}}
          {{#ifeq blok 'blok-3'}}
            {{#ifeq type 'project'}}
            <div class="vakken">
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </section>
        <section class="blok4 blokken">
          <header class="header-blok4">
            <div class="blok-title">
              <h2>Blok 4</h2>
              <p>April - juni</p>
            </div>
          </header>
          {{#each course}}
          {{#ifeq blok 'blok-4'}}
            {{#ifeq type 'project'}}
              <div class="vakken">
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{#each connectedCourses}}
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{/each}}
              </div>
            {{/ifeq}}
            {{!--Check for internships--}}
            {{#ifeq type 'stage'}}
            <div class="course {{#each courseType}} {{slug}}{{/each}}">
              <a href="{{year}}/vak/{{slug}}">{{title}}</a>
            </div>
            {{/ifeq}}

            {{!--Check if there are profileringsvakken--}}
            {{#ifeq type 'profilering'}}
            <div>
              <p>* Profileringsvakken:</p>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </section>
        {{/ifCond}}
      </div>

      <p class="year-description columns">{{year.description}}</p>

      <section class="legenda-container">
        <p class="legenda-title">Legenda:</p>
        <div class="legenda">
          <div class="projecten project-legenda course">
          </div>
          <p>Projecten</p>
          <div class="kernvakken course">
          </div>
          <p>Kernvakken</p>
          <div class="profilering keuzevak-legenda course">
          </div>
          <p>Profileringsvakken</p>
          <div class="course stages stage-legenda">
          </div>
          <p>Stage</p>
        </div>
      </section>
    </article>

    <div class="toggle hide" id="menu-toggle">
    </div>
  </div>
</div>

{{> nav}}
