<article class="standard-container">
  <p class="breadcrumb">
    <a class="breadcrumb-link" href="/curriculum">curriculum/</a>{{data.year.slug}}
  </p>

  <h2>{{data.year.title}}</h2>
  <div class="year">
    <div class="courses">
      {{# each data.course}}
      <div class="course {{slug}}" style="background-image: url({{cloudinaryUrl image}})">
        <h3>{{title}}</h3>
      </div>

      {{/each}}
    </div>

    <div class="course-types">
      <div class="course-type course-type-1">
        <a href="Project"><p>Projecten</p></a>
      </div>
      <div class="course-type course-type-2">
        <a href="Technisch"><p>Frontend Development</p></a>
        <p class="small-text">Technische vakken</p>
      </div>
      <div class="course-type course-type-3">
        <a href="Design"><p>User Interface Design</p></a>
        <p class="small-text">Design vakken</p>
      </div>
      <div class="course-type course-type-4">
        <a href="Onderzoek"><p>User Experience Design</p></a>
        <p class="small-text">Onderzoeks vakken</p>
      </div>
    </div>
  </div>
</article>
