<div class="sidebar-layout">
  <div class="filter">
    <div class="filter-items">
      {{#each courseType}}
      <p class="filter-item" id="{{slug}}"><img src="{{cloudinaryUrl image}}" alt="CMD icon">{{title}}</p>
      {{/each}}
    </div>
    <p class="filter-title" id="filter">Filter vakken</p>
  </div>
  <div class="content">
    <article class="standard-container filter-margin" id="closeFilters">
      <h2 class='year-title'>{{year.title}}</h2>
      <div class="column-grid">

        <div class="blok1 blokken">
          <div class="header-blok1">
            <div class="blok-title">
              <h2>Blok 1</h2>
              <p>September - november</p>
            </div>
          </div>
          {{#each course}}
          {{#ifeq blok 'blok-1'}}
            {{#ifeq type 'project'}}
            <div class="vakken">
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </div>


        <div class="blok2 blokken">
          <div class="header-blok2">
            <div class="blok-title">
              <h2>Blok 2</h2>
              <p>November - januari</p>
            </div>
          </div>
          {{#each course}}
          {{#ifeq blok 'blok-2'}}
            {{#ifeq type 'project'}}
            <div class="vakken">
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </div>
        <div class="blok3 blokken">
          <div class="header-blok3">
            <div class="blok-title">
              <h2>Blok 3</h2>
              <p>Januari - april</p>
            </div>
          </div>
          {{#each course}}
          {{#ifeq blok 'blok-3'}}
            {{#ifeq type 'project'}}
            <div class="vakken">
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </div>
        <div class="blok4 blokken">
          <div class="header-blok4">
            <div class="blok-title">
              <h2>Blok 4</h2>
              <p>April - juni</p>
            </div>
          </div>
          {{#each course}}
          {{#ifeq blok 'blok-4'}}
            {{#ifeq type 'project'}}
              <div class="vakken">
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{#each connectedCourses}}
                <div class="course {{#each courseType}} {{slug}}{{/each}}">
                  <a href="{{year}}/vak/{{slug}}">{{title}}</a>
                </div>
                {{/each}}
              </div>
            {{/ifeq}}
            {{!--Check for internships--}}
            {{#ifeq type 'stage'}}
            <div class="course {{#each courseType}} {{slug}}{{/each}}">
              <a href="{{year}}/vak/{{slug}}">{{title}}</a>
            </div>
            {{/ifeq}}

            {{!--Check if there are profileringsvakken--}}
            {{#ifeq type 'profilering'}}
            <div>
              <p>* Profileringsvakken:</p>
              {{#each connectedCourses}}
              <div class="course {{#each courseType}} {{slug}}{{/each}}">
                <a href="{{year}}/vak/{{slug}}">{{title}}</a>
              </div>
              {{/each}}
            </div>
            {{/ifeq}}
          {{/ifeq}}
          {{/each}}
        </div>
      </div>

      <p class="legenda-title">Legenda:</p>
      <div class="legenda">
        <div class="projecten project course">
          <p>Projecten</p>
        </div>
        <div class="kernvakken course">
          <p>Kernvakken</p>
        </div>
        <div class="profilering keuzevak course">
          <p>Profileringsvakken</p>
        </div>
        <div class="course stages stage">
          <p>Stage</p>
        </div>
      </div>
      <p class="year-description columns">{{year.description}}</p>
    </article>

    <div class="toggle hide" id="menu-toggle">
    </div>
  </div>
</div>
<nav id="nav" class="mobile-hide">
  <div class="years">
    <div class="nav-item back">
      <p onclick="history.back()"><img src="/images/terug.svg" alt="CMD icon">Terug</p>
    </div>
    {{#each allYears}}
    <div class="nav-item">
      <p><a href="/curriculum/{{slug}}"><img src="{{cloudinaryUrl image}}" alt="CMD icon">{{title}}</a>
      </p>
    </div>
    {{/each}}
  </div>
</nav>
